streamlit>=1.36.0

langchain==0.1.0
langchain-core==0.1.10
langchain-community==0.0.13
langchain-groq==0.0.1

sqlalchemy>=1.4,<3.0
mysql-connector-python>=8.0.33

python-dotenv>=1.0.0
tiktoken>=0.5.2

faiss-cpu>=1.7.4
